{# empty Twig template #}
{% extends "en/master.html.twig" %}

{% block title %} File List {% endblock %}

{% block content %}
    <div id="content">
        <div id="psdgraphics-com-table">

            <div id="psdg-header">
                <a href="/en/upload" class="psdg-button" style="float:left; margin-left: 20px; margin-top: 10px">
                    Upload
                </a>
                <a href="/en/admin/list" class="psdg-button" style="float:right; margin-right: 20px; margin-top: 10px">
                    User List
                </a>
            </div>

            <div id="psdg-top">
                <div class="psdg-top-cell" style="width:7%">File Id</div>
                <div class="psdg-top-cell" style="width:7%">User Id</div>
                <div class="psdg-top-cell" style="width:20%">File Name</div>
                <div class="psdg-top-cell" style="width:20%">Modified Date</div>
                <div class="psdg-top-cell" style="width:10%">Size(KB)</div>
                <div class="psdg-top-cell" style="width:35%">Operations</div>
            </div>

            <div id="psdg-middle">

                {% for f in fileList %}

                    <div class="psdg-left" style="width:7%">{{f.id}}</div>
                    <div class="psdg-right" style="width:7%">{{f.userId}}</div>
                    <div class="psdg-right" style="width:20%">{{f.filename}}</div>
                    <div class="psdg-right" style="width:20%">{{f.modifiedDate}}</div>
                    <div class="psdg-right" style="width:10%">{{f.size}}</div>
                    <div class="psdg-right" style="width:35%">
                        <a href="/en/rename/{{f.id}}" class="psdg-button1" style="float:left">Rename</a>
                        <a href="/en/delete/{{f.id}}" class="psdg-button1" style="float:left">Delete</a>
                        <a href="/en/download/{{f.id}}" class="psdg-button1" style="float:left">Download</a>
                    </div>

                {% endfor %}

            </div>
            <div id="psdg-bottom">
                <div class="psdg-top-cell" style="width:7%">File Id</div>
                <div class="psdg-top-cell" style="width:7%">User Id</div>
                <div class="psdg-top-cell" style="width:20%">File Name</div>
                <div class="psdg-top-cell" style="width:20%">Modified Date</div>
                <div class="psdg-top-cell" style="width:10%">Size(KB)</div>
                <div class="psdg-top-cell" style="width:35%">Operations</div>
            </div>
        </div>
    </div><!--close content-->   


{% endblock %}
